 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {

  background-image: url('../images/overgrowth-background.jpg');
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: #333;
  overflow: hidden;
}

/* Header ------------------------------------------------------------------------------------------------ */
.headUnit {
  width: 100%;
  height: 90px;
  background-color: HSLA(0, 0%, 70%, 1);
  display: block;
  /* box-shadow: 2px 2px 1px HSLA(0, 0%, 89%, 1); */
  opacity: .7;
  font-size: 3em;
  overflow: hidden;
  position: static;
}
h1 {
  margin: 0;
  padding: 0;
}

/* ViewPort ---------------------------------------------------------------------------------------------- */
.viewPort {
  width: 85%;
  height: 500px;
  margin: 2em auto;
  display: block;
  background-color: HSLA(0, 0%, 0%, .8);
}
h2 {
  font-size: 3em;
}

.startButton {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../images/green.jpg');
  border: 4px solid black;
  color: black;
  font-family: 'Courier';
  opacity: .6;
  &:hover {
    opacity: 1;
  }
}

/* Typing Animation ------------------------------------------------------------------------------------- */
.intro {
  p {
    color: lime;
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    animation: type 2s steps(60, end);
  }

  p:nth-child(2) {
    animation: type2 8s steps(80, end);
    /* marquee-style: slide; */
  }

  p:nth-child(3) {
    animation: type2 18s steps(80, end);
    /* marquee-style: slide; */
  }
  p:nth-child(4) {
    animation: type2 17s steps(2, end);
    /* animation: type; */
    /* marquee-style: slide; */
  }
  span {
    color: lime;
    animation: blink 1s infinite;
  }
  @keyframes type{
    from { width: 0; }
  }

  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
  }
  @keyframes blink{
    to{opacity: .0;}
  }
}

/* Character Picker ---------------------------------------------------------------------------------- */
.charPicker {
  display: block;
  position: relative;
  width: 100%;
}
.charWrap {
  margin: 0 auto;
  overflow: auto;
}
h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}
.profilePic {
  width: 250px;
  height: 250px;
  border: 3px solid white;
  filter: sepia(100%) blur(3px);
  &:hover {
    filter: sepia(0%) blur(0px);
  }
}
.profilePicClicked {
  width: 250px;
  height: 250px;
  border: 3px solid white;
  transform: scale(1.2);
  margin-left: 300px;
}

.caesar, .abe, .barbie {
  display: inline-block;
  float: left;
  img {
    transition: transform 1s, margin 1s;
  }
}
h4 {
  font-size: 1.5em;
  text-align: center;
}

/* Battle Screen ---------------------------------------------------------------------------------- */
.battleUpper {
  height: 75%;
  display: block;
  margin-bottom: 45px;
  margin: 0 auto;
}
.ggBattle {
  display: inline-block;
  float: left;
  width: 25%;
  overflow: auto;
  .ggHP {
  	height: 20px;  /* Can be anything */
  	position: relative;
  	background: #555;
  	-moz-border-radius: 25px;
  	-webkit-border-radius: 25px;
  	border-radius: 25px;
  	padding: 0px;
    color: HSLA(0 , 0%, 0%, 0);
  	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  }
  .ggHP > span {
    width: 100%;
    height: 100%;
    background-image: url('../images/green.jpg');
    margin-left: 0px;
    border-radius: 1em;
    padding-right: 15em;
    position: relative;
    overflow: hidden;
    transition: padding .3s;
  }
  .ggPic {
    width: 250px;
    height: 250px;
    border: 3px solid white;
  }

}
.stageSet {
  display: inline-block;
  margin: 60px auto;
  text-align: center;
  width: 50%;
}
.bgBattle {
  display: inline-block;
  float: right;
  width: 25%;
  overflow: auto;
  .bgPic {
    width: 250px;
    height: 250px;
    border: 3px solid white;
  }
}
.battleLower {
  height: 25%;
  display: block;
  margin-top: 10px;
  .atkOptions {
    clear: both;
    .atk1, .atk2 {
      width: 150px;
      height: 50px;
      padding: 0;
    }
  }
}

.battleLog {
  background-color: HSLA(0, 0%, 0%, 1);
  border: 1px solid HSLA(0, 0%, 97%, 1);
  color: lime;
  font-family: "Courier";
  width: 700px;
  height: 180px;
  display: block;
  float: right;
  overflow: scroll;
  margin-right: 20px;
}
.redText {
  color: red;
}
.greenText {
  color: lime;
}
